{
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "syntax-decorators",
    "transform-decorators",
    "transform-function-bind",
    [
      "transform-es2015-arrow-functions", {
        "spec": false
      }
    ],
    "transform-es2015-shorthand-properties",
    "transform-es2015-spread",
    "transform-es2015-parameters",
    "transform-es2015-block-scoping",
    "transform-es2015-template-literals",
    "transform-class-properties",
    "transform-es2015-classes"
  ],
  "presets": ["es2016"]
}