$base: #CCCCCC;
$foreground: #FFFFFF;

.navbar {
  border-radius: 0;
  background: #333;
  color: $foreground;

  .navbar-nav  {
    .nav-link {
      color: $base;

      &:hover {
        color: darken($foreground, 5%);
      }
    }

    .active {
      .nav-link {
        color: $foreground;

        &:hover {
          color: darken($foreground, 5%);
        }
      }
    }
  }

  .navbar-brand {
    color: $foreground;

    &:hover {
      color: $foreground;
    }
  }
}