.home {
  margin-top: 10px;

  /** Styles **/
  .jumbotron {
    background: transparentize(green, 0.5);
    color: white;

    /** Autoprefixer will append prefixes for us to support ie. **/
    display: flex;
  }
}