<section id="component__login-view"
<form>
    <div class="row">
        <!-- Username -->
        <div class="col-md-12">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" required aria-required="true" />
        </div>

        <!-- Password -->
        <div class="col-md-12">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required aria-required="true" />
        </div>
    </div>

    <!-- Ensure that the button is always below the username/password -->
    <div class="row">
        <!-- Submit-->
        <div class="col-md-12">
            <button id="login-button" class="form-control">Submit</button>
        </div>
    </div>
</form>